$bg-base: #111623;

$color-text: #FFFFFF;

$color-horizontal-line: #1F2639;
$color-progress: #5684FF;
$color-toast: #FFFFFF;
$color-toast-text: #5684FF;

$color-underline-link: #5684FF;
$color-link: #CAD9FF;

$color-float-primary: #5684FF;