@use "./colors" as colors;
@use "../../mixins/breakpoints/breakpoints" as mixins;

.card {
    position: relative;
    background: colors.$bg-color-card;
    padding: 2rem;
    border-radius: 12px;
    color: colors.$color-text;
    width: 100%;
    // min-width: 750px;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: stretch;

    &.dummy {
        background-color: colors.$bg-color-card-dummy;
        .avatar-list img {
            border: 2px solid colors.$bg-color-card-dummy;
        }
    }
    
    @include mixins.breakpoint(tablet-lg) {
        align-items: flex-start;
        flex-direction: column;
    }

    & > &__img-container {
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        aspect-ratio: 1/1;
        max-height: 160px;
        width: 120px;
        flex-shrink: 0;

        @include mixins.breakpoint(tablet-lg) {
            aspect-ratio: unset;
            width: 100%;
            height: 375px;
            max-height: 375px;
        }

        @include mixins.breakpoint(mobile) {
            height: 300px;
            max-height: 300px;
        }

        img {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;
        }
    }

    &__metadata {
        display: flex;
        flex-direction: column;
        gap: .35rem;
        width: 100%;

        @include mixins.breakpoint(tablet-lg) {
            margin: 1rem .5rem;
        }

        .tag {
            font-family: inherit;
            font-size: .65rem;
            padding: .2rem .5rem;
            border-radius: 5px;
            color: colors.$color-tag;
            font-weight: 500;
            background: colors.$bg-color-tag;
            width: fit-content;
            &.on-broadcast {
                color: colors.$color-text-broadcast;
                background-color: colors.$bg-color-broadcast;
            }
            &.on-soon {
                color: colors.$color-text-soon;
                background-color: colors.$bg-color-soon;
            }
            &.on-ended {
                color: colors.$color-text-ended;
                background-color: colors.$bg-color-ended;
            }
        }

        h1 {
            font-family: "Quicksand";
            font-size: 1.45rem;
            color: colors.$color-text-title;
            font-weight: 700;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
        }

        time {
            font-size: .72rem;
            font-weight: 400;
            color: colors.$color-text-info-summary;
        }

        .avatar-list {
            display: flex;
            flex-direction: row;
            align-items: center;

            @include mixins.breakpoint(tablet-lg) {
                margin: .8rem 0;
            }

            img {
                width: 30px;
                height: 30px;
                border-radius: 30px;
                object-position: center center;
                object-fit: cover;
                border: 2px solid colors.$bg-color-card;

                &:not(:first-child) {
                    margin-left: -1rem;
                }
            }
            .summary {
                font-size: .8rem;
                font-family: inherit;
                color: colors.$color-text-info-summary;
                text-decoration: underline;
                margin-left: .75rem;
            }
        }
    }

    & > &__action {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        height: 100%;
        width: 200px;
        min-height: 123px;
        flex-shrink: 0;
        button {
            padding: 1rem 1.5rem;
            border-radius: 8px;
            font-weight: 600;
            font-size: .85rem;
            font-family: "Inter";
            height: 100%;
            flex-grow: 1;
            transition: all .2s cubic-bezier(.32,.87,.24,1);
            &.primary {
                background-color: colors.$color-button-primary;
                color: colors.$color-text;
            }
            &.secondary {
                background-color: colors.$color-button-secondary;
                color: colors.$color-button-text-secondary;
            }
            &:hover {
                transform: scale(1.025);
                filter: brightness(1.15);
            }
        }
        @include mixins.breakpoint(tablet-lg) {
            margin-top: 1rem;
            width: 100%;
            flex-direction: row;
            min-height: unset;
        }
        @include mixins.breakpoint(mobile-lg) {
            flex-direction: column;
        }
    }
}